In [1]:
# Load in the dataframe as df:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
df = pd.read_csv('Data/insurance - insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

Q1. Do smokers have higher insurance charges than non-smokers?

Null hypothesis: Smokers do not have higher insurance charges than non-smokers.

Alternative Hypothesis: Smokers do have higher insurance charges than non-smokers.

**Selected Test: Two-Sample T-Test**

In [8]:
# see how many do and do not smoke
df['smoker'].value_counts()
# Filtering out those who smoke or don't smoke
smoker_df = df.loc[df['smoker']== "yes"].copy()
non_smoker_df = df.loc[df['smoker']== "no"].copy()

In [9]:
smoker_charge = smoker_df['charges']
non_smoker_charge = non_smoker_df['charges']

### Check and Remove Outliers

In [10]:
# Check for outliers in smoker group
zscores= stats.zscore(smoker_charge)
outliers = abs(zscores)>3
np.sum(outliers)

0

In [11]:
# check for outliers in non smoker group
zscores= stats.zscore(non_smoker_charge)
outliers = abs(zscores)>3
np.sum(outliers)

24

In [12]:
# remove outlier for non smoker group
non_smoker_charge = non_smoker_charge[(np.abs(stats.zscore(non_smoker_charge)) < 3)]

In [14]:
# test the strength group for normality
result_smoker_charge = stats.normaltest(smoker_charge)
result_smoker_charge

NormaltestResult(statistic=61.03941356533816, pvalue=5.564930630036463e-14)

In [15]:
result_non_smoker_charge = stats.normaltest(non_smoker_charge)
result_non_smoker_charge

NormaltestResult(statistic=163.80367047789198, pvalue=2.6945416315543976e-36)

Our p-value < 0.05 which means our data is not normally distributed for both samples. However, according to parametric test n > 15 so we can ignore the normality assumption.

###  Test for equal variance

In [16]:
result = stats.levene(smoker_charge, non_smoker_charge)
result

LeveneResult(statistic=520.7468821724297, pvalue=2.4247238784347824e-97)

Looks like we don't have equal variances, but that won't stop us! We just need to be sure to include "equal_var = False" when we perform our t-test.

In [17]:
# Independent t-test with equal_var set to False
result = stats.ttest_ind(smoker_charge, non_smoker_charge, equal_var = False)
result

Ttest_indResult(statistic=33.732305987092516, pvalue=2.5753226625873578e-104)

Our p-value < alpha (0.05), so we reject the null hypothesis and accept that there is a significant difference between the insurance charges for smokers and non-smokers.

Q2. Are men more likely to smoke than women?

Null Hypothesis: Men are no more likely than women to smoke.

Alternative hypothesis: Men are more likely to smoke than women.

Q3. Do different regions have different charges, on average?

Null Hypothesis: Different regions do not have different charges, on average.

Alternative Hypothesis: Different regions do have different charges on average.